<html style='background-color: #20E0B2 !important; overflow: auto !important;'>
<body style='background-color: #20E0B2 !important; overflow: auto !important;'>
<div class="slidermiddle">
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>
</div>



<div class="container">
    <div class="row">
        <div class="col">
            <div class="counter">
                <div class="counter-icon">
                    <i class="fas fa-utensils" id="iconbuiz"></i>
                </div>
                <a href="/restaurants"><span class="counter-value">567</span></a>
                <a href="/restaurants"><h3>Restaurants</h3></a>
            </div>
        </div>
        <div class="col">
            <div class="counter purple">
                <div class="counter-icon">
                    <i class="fas fa-store-alt" id="iconbuiz"></i>
                </div>
                <a href="/stores"><span class="counter-value">536</span></a>
                <a href="/stores"><h3>Stores</h3></a>
            </div>
        </div>
        <div class="col" id="smallchange">
            <div class="counter purple">
                <div class="counter-icon">
                    <i class="fa fa-store" id="iconbuiz"></i>
                </div>
                <a href="/locals"><span class="counter-value">536</span></a>
                <a href="/locals"><h3>Locals</h3></a>
            </div>
        </div>
        <div class="col" id="smallchange">
            <div class="counter">
                <div class="counter-icon">
                    <i class="fas fa-coffee" id="iconbuiz"></i>
                </div>
                <a href="/cafeandbars"><span class="counter-value">567</span></a>
                <a href="/cafeandbars"><h3>Cafes/Bars</h3></a>
            </div>
        </div>
    </div>
</div>

