.wrapper {
    display: flex;
    justify-content: center;
    margin-top: -18rem;
}

.greenlogo {
    vertical-align: middle;
    border-style: none;
    width: 20rem;
    height: 20rem;
}

.nicelogo {
    display: flex;
    justify-content: center;
}

#btnform {
    border-radius: 2rem;
}

.form-check-input {
    display: none;
}

.form-group {
    margin-bottom: 2rem;
}

.newcardtitlelogin {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-family: 'Fredoka One', cursive;
}

.loginlogo {
    width: 19rem;
    height: 6rem;
    margin-top: -4rem;
    margin-bottom: 3rem;
}

.form-group {
    margin-bottom: 3rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: 'Fredoka One', cursive !important;
    font-size: 2.5rem;
}

.wrapper {
    margin-top: 0rem;
}

.form-control {
    display: flex;
    width: 33rem;
    margin: none;
    height: calc(1.5em + 1.80rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Fredoka One', cursive !important;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    /* align-items: center; */
}

#btnform2 {
    width: 32rem;
    font-size: 16px;
    height: 4rem;
    border-radius: 2rem;
    font-family: 'Fredoka One', cursive;
}

.editshow {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

//edit
.pl-5,
.px-5 {
    display: flex;
    justify-content: center;
    margin-top: -7rem;
}

.newcardtitle33 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: -2.5rem;
    margin-bottom: 2rem;
    font-family: 'Fredoka One', cursive;
}

.yooooo {
    width: 19rem;
}

.newcardtitle187 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: -2.5rem;
    margin-bottom: 2rem;
    font-family: 'Fredoka One', cursive;
}

.form-inputs3 {
    display: flex;
    justify-content: center;
}

.form-actions3 {
    display: flex;
    justify-content: center;
}

.new-user23 {
    display: flex;
    justify-content: center;
}

.form-actions99 {
    display: flex;
    justify-content: center;
}

.newforgot {
    font-family: 'Fredoka One', cursive;
    font-size: 1.8rem;
    color: black;
}

.newcardtitlelogin {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
    font-family: 'Fredoka One', cursive;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    font-family: 'Fredoka One', cursive;
    font-size: 17px;
    height: 4rem;
}

.separator {
    font-size: 12px;
}

.notice {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Fredoka One', cursive;
}