body {
    background-color: #020202;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.instant {
    transition: all 0 0 !important;
}

// html,
// .neww {
//     height: 100%;
//     background: #89FFC3;
//     overflow: hidden;
//     margin: 0;
//     width: 100%;
// }
html,
body {
    height: 100% !important;
    overflow: auto;
    margin: 0;
    width: 100% !important;
}

// html,
// body {
//     height: 100%;
//     background: #89FFC3;
//     overflow-x: hidden;
//     overflow-y: auto;
// }
@media (max-width: 960px) {
    html,
    body {
        font-size: 80%;
    }
}

@media (max-width: 768px) {
    html,
    body {
        font-size: 60%;
    }
}

@media (max-width: 480px) {
    html,
    body {
        font-size: 50%;
    }
}

.scene {
    position: relative;
    height: 100%;
}

.circle {
    z-index: 4;
    position: fixed;
    top: calc(50% - 20rem);
    left: calc(50% - 20rem);
    width: 40rem;
    height: 40rem;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.rotater {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500rem;
    height: 500rem;
    transform: translateX(-50%) translateY(-50%);
    background: #20E0B2;
    border-radius: 50%;
}

.rotater.phase1 {
    width: 0.1rem;
    height: 0.1rem;
    transition: width 0.5s, height 0.5s;
}

.rotater.phase2 {
    width: 2.5rem;
    height: 2.5rem;
    transition: width 0.3s cubic-bezier(0.72, 0.17, 0.68, 1.46), height 0.3s cubic-bezier(0.72, 0.17, 0.68, 1.46);
}

.rotater.phase3 {
    width: 1rem;
    height: 1rem;
    transform: translateX(-50%) translateY(-50%) rotate(180deg);
    transition: width 0.1s, height 0.1s, transform 0.6s 0.87s ease-in, opacity 0.4s 1.3s;
    opacity: 0;
}

.rotater.phase3 .rotater--line {
    max-width: 20rem;
}

.rotater.phase3 .rotater--line:after {
    transform: scale(1);
}

.rotater--line {
    position: absolute;
    top: calc(50% - 0.1rem);
    left: 50%;
    transform-origin: 0% 50%;
    width: 20rem;
    max-width: 0;
    height: 0.2rem;
    background: #20E0B2;
    transition: max-width 0.5s 0.1s;
    will-change: max-width;
}

.rotater--line:after {
    content: "";
    position: absolute;
    top: -0.4rem;
    left: 19.4rem;
    width: 1rem;
    height: 1rem;
    background: #20E0B2;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s 0.55s cubic-bezier(0.72, 0.17, 0.68, 1.46);
}

.rotater--line.left {
    transform: rotate(180deg);
}

.nav-elems {
    z-index: 5;
    position: fixed;
    top: calc(50% - 20rem);
    left: calc(50% - 20rem);
    width: 40rem;
    height: 40rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.heading {
    position: absolute;
    top: 48%;
    left: 12%;
    font-size: 10rem;
    width: 48rem;
    height: 13rem;
    line-height: 1;
    font-family: Polar;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-left: -3rem;
    transform: translateX(-50%) translateY(-50%) scale(1);
    overflow: hidden;
    transition: opacity 0.3s 0.7s, transform 0.3s 0.7s cubic-bezier(0.72, 0.17, 0.68, 1.46);
}

.heading.invisible {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0);
}

.numbers {
    position: absolute;
    top: 0;
    right: 5rem;
    width: 6rem;
    display: inline-block;
    vertical-align: top;
    height: 90rem;
    line-height: 1;
    word-break: break-all;
    transition: transform 0.7s;
    will-change: transform;
}

.nav-el {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #020202;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.72, 0.17, 0.68, 1.46), background-color 0.7s;
    cursor: pointer;
}

.nav-el:after {
    content: "";
    position: absolute;
    top: calc(50% - 0.2rem);
    left: calc(50% - 0.2rem);
    width: 0.4rem;
    height: 0.4rem;
    background: #020202;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s;
}

.nav-el.visible {
    transform: scale(3);
}

.nav-el.white {
    background: #fff;
}

.nav-el.active,
.nav-el:hover {
    transform: scale(3.5);
}

.nav-el.active:after,
.nav-el:hover:after {
    transform: scale(1);
}

.nav-el-1 {
    left: 19.5rem;
    top: -0.4rem;
}

.nav-el-1.showing {
    transition-delay: 0s;
}

.nav-el-2 {
    left: 36.73391rem;
    top: 9.55rem;
}

.nav-el-2.showing {
    transition-delay: 0.1s;
}

.nav-el-3 {
    left: 36.73391rem;
    top: 29.45rem;
}

.nav-el-3.showing {
    transition-delay: 0.2s;
}

.nav-el-4 {
    left: 19.5rem;
    top: 39.4rem;
}

.nav-el-4.showing {
    transition-delay: 0.3s;
}

.nav-el-5 {
    left: 2.26609rem;
    top: 29.45rem;
}

.nav-el-5.showing {
    transition-delay: 0.4s;
}

.nav-el-6 {
    left: 2.26609rem;
    top: 9.55rem;
}

.nav-el-6.showing {
    transition-delay: 0.5s;
}

.pages {
    z-index: 1;
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    transition: transform 0.7s;
    will-change: transform;
}

.pages.removed {
    transform: translateX(100%);
}

.pages.removed .scroll-down {
    transform: scale(0);
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
}

.page:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.page.page-1 {
    position: relative;
    background: #20E0B2;
}

.page.page-2 {
    background: #20E0B2;
}

.page.page-3 {
    background: #20E0B2;
}

.page.page-4 {
    background: #20E0B2;
}

.page.page-5 {
    background: #20E0B2;
}

.page.page-6 {
    background: #20E0B2;
}

.page.page-7 {
    position: relative;
    background: #000000;
    padding: 10rem;
}

.scroll-down {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%) scale(1);
    font-size: 5rem;
    font-family: Polar;
    color: #fff;
    transition: transform 0.3s 0.7s cubic-bezier(0.72, 0.17, 0.68, 1.46);
}

// @media (max-width: 768px) {
//     .scroll-down {
//         display: none;
//     }
// }
// @media (max-height: 610px) and (min-width: 769px) {
//     .scroll-down {
//         display: none;
//     }
// }
.check-out {
    z-index: 10;
    position: relative;
    font-size: 5rem;
    font-family: Polar;
    color: #fff;
}

//new
#locospan1 {
    height: 13rem;
    color: white;
}

#locospan2 {
    height: 14rem;
    color: white;
    width: 13rem;
    margin-left: -2rem;
    margin-top: -0.5rem;
}

#locospan3 {
    height: 13.5rem;
    color: white;
    margin-left: -0.5rem;
}

#locospan4 {
    height: 10rem;
    margin-left: 1rem;
    color: white;
}

#locospan5 {
    height: 17rem;
    margin-left: 1rem;
    color: white;
}

#locospan6 {
    color: white;
}

.newcardtitle {
    font-size: 5.5rem;
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One', cursive !important;
}

.newsigninintro {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One', cursive !important;
}

.newsigninintro2 {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One', cursive !important;
}

#newbtnway {
    width: 38rem;
}

//load function
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: center no-repeat #20E0B2;
}

.loadimg {
    display: flex;
    justify-content: center;
    margin-top: 60%;
}

.imgloadborder {
    border-radius: 6rem;
}