//show checkout
.backkgr {
    margin-top: 6rem;
}

.newseperator {
    display: flex;
    justify-content: center;
    width: 34rem;
}

//home
.newh1profile {
    color: whitesmoke;
    font-size: 4.5rem;
}

.newh1go {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5rem;
}

// .newgo9076 {
//     width: 375px;
//     height: 66%;
// }
canvas {
    width: 375px;
    height: 375px !important;
    border-radius: 40rem !important;
}