<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
type="text/css"
/>
<div class="newmap">
<div class="mapboss">
<div id='map' style="height: 162% !important;" 
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div>



    <%# <div class="card-w ">
    <div class="card20 neumorphism">
    <div class="card__icon">
   
    </div>
    <div class="card__text">
      1. Locate yourself      <br>
      2. Point your location and the nearest bin %>
    </div>
  </div>
  </div>
</div>
      <div class="newmapbtn">
<a href="/"><button class="btnnn btn--alpha", remote: true><span>Go Back</span></button></a>
</div>
 
 