<html style='background-color: #20E0B2 !important'>
<body style='background-color: #20E0B2 !important'>
<div class="gifclass1">
<h1 class="newcardgiv">You have not enough points...</h1>
</div>
<div class="gifclass2">
<iframe src="https://giphy.com/embed/T1WqKkLY753dZghbu6"  width="300" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/theoffice-T1WqKkLY753dZghbu6"></a></p>
</div>
<script>
         setTimeout(function(){
            window.location.href = '/path/users/show';
         }, 3000);
</script>
</body>
</html>