<html style='background-color: #20E0B2 !important; overflow: hidden !important'>
<body style='background-color: #20E0B2 !important; overflow: hidden !important'>
  <div class="newh1gosuccess">
   <h1 class="newh1profilesuccess1">Thank you!</h1>
   </div>
<div class="dummy-positioning d-flex">
  <div class="success-icon">
    <div class="success-icon__tip"></div>
    <div class="success-icon__long"></div>
  </div>
</div>
    <div class="newh1gosuccess2">
   <h1 class="newh1profilesuccess2">You will receive an Email with <br>
   all the Delivery Information.</h1>
   </div>
</body>
</html>
<script>
        //  setTimeout(function(){
        //     window.location.href = '/path/users/show';
        //  }, 5000);
</script>