<html style='background-color: #20E0B2 !important; overflow: auto !important;'>
<body style='background-color: #20E0B2 !important; overflow: auto !important;'>
<div class="h1div2">
<h2 class="h1buiz">Cafe and Bars</h2>
</div>

<div class="clearbtnchart">
 <a href="/path/charts"><div class="bk-btn"><div class="bk-btn-triangle"></div><div class="bk-btn-bar"></div></div></a>
</div>

<div class="sliderexplain">
	<div class="rankingex1">
		<h1>Nr.</h1>
	</div>
	<div class="rankingex2">
		<h1>Brand</h1>
	</div>
	<div class="rankingex3">
		<h1>Scans</h1>
	</div>
</div>
<div class="slider2">
	<div class="ranking1">
		<h1>1.</h1>
	</div>
	<div class="ranking2">
		<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1617280555/w6ybvs89nncj3q5ejuhk674fyr9q.png" class="newimg312"/>
	</div>
	<div class="ranking3">
		<h1>6787</h1>
	</div>
</div>
<div class="slider2">
	<div class="ranking1">
		<h1>2.</h1>
	</div>
	<div class="ranking2">
		<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615378203/NicePng_starbucks-logo-transparent-png_10063270_hnhw6a.png" class="newimg312"/>
	</div>
	<div class="ranking3">
		<h1>5678</h1>
	</div>
</div>
<div class="slider2">
	<div class="ranking1">
		<h1>3.</h1>
	</div>
	<div class="ranking2">
		<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615378214/NicePng_doodlebob-png_1460942_pjuuy9.png" class="newimg312"/>
	</div>
	<div class="ranking3">
		<h1>4567</h1>
	</div>
</div>
<div class="slider2">
	<div class="ranking1">
		<h1>4.</h1>
	</div>
	<div class="ranking2">
		<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615378203/NicePng_stussy-logo-png_10080860_tiu9ni.png" class="newimg312"/>
	</div>
	<div class="ranking3">
		<h1>3345</h1>
	</div>
</div>
</body>
</html>