<html style='background-color: #20E0B2 !important'>
<body style='background-color: #20E0B2 !important'>


<div class="h1div">
<h1 class="h1buiz">Ranking</h1>
</div>


<div class="sliderexplain">
	<div class="rankingex1">
		<h1>Nr.</h1>
	</div>
	<div class="rankingex2">
		<h1>Brand</h1>
	</div>
	<div class="rankingex3">
		<h1>Scans</h1>
	</div>
</div>
<div class="slider2">
	<div class="ranking1">
		<h1>1.</h1>
	</div>
	<div class="ranking2">
		<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615378878/Pornhub-Logo.wine_upcm7e.png" class="newimg312"/>
	</div>
	<div class="ranking3">
		<h1>6787</h1>
	</div>
</div>
<div class="slider2">
	<div class="ranking1">
		<h1>2.</h1>
	</div>
	<div class="ranking2">
		<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615378203/NicePng_starbucks-logo-transparent-png_10063270_hnhw6a.png" class="newimg312"/>
	</div>
	<div class="ranking3">
		<h1>5678</h1>
	</div>
</div>
<div class="slider2">
	<div class="ranking1">
		<h1>3.</h1>
	</div>
	<div class="ranking2">
		<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615378214/NicePng_doodlebob-png_1460942_pjuuy9.png" class="newimg312"/>
	</div>
	<div class="ranking3">
		<h1>4567</h1>
	</div>
</div>
<div class="slider2">
	<div class="ranking1">
		<h1>4.</h1>
	</div>
	<div class="ranking2">
		<img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615378203/NicePng_stussy-logo-png_10080860_tiu9ni.png" class="newimg312"/>
	</div>
	<div class="ranking3">
		<h1>3345</h1>
	</div>
</div>
<div  class="se-pre-con">
	<div class="loadimg">
		<img  class="imgloadborder" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615987378/Dual_Ball-1s-200px_fsqs5d.gif" />
	</div>
</div>



</body>
</html>
<div  class="se-pre-con">
	<div class="loadimg">
		<img  class="imgloadborder" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615987378/Dual_Ball-1s-200px_fsqs5d.gif" />
	</div>
</div>
