

<div class="scene">
  <svg class="circle" viewBox="0 0 400 400">
    <path class="half" stroke="rgba(255,255,255,0.5)" stroke-width="2" fill="none" d="M1,200 a199,199 0 0,1 398,0"/>
    <path class="half" stroke="rgba(255,255,255,0.5)" stroke-width="2" fill="none" d="M399,200 a199,199 0 0,1 -398,0"/>
    <path class="active-nav" stroke="#fff" stroke-width="2" fill="none" d="M200,1 a199,199 0 0,1 0,398 a199,199 0 0,1 0,-398"/>
  </svg>
  <div class="rotater">
    <div class="rotater--line left"></div>
    <div class="rotater--line right"></div>
  </div>
  <div class="nav-elems">
  <div class="h1behave">
    <h1 class="heading invisible"><span class="numbers">
    <a href="/path/businesses/business"><span><i class="fas fa-store-alt" id="locospan2"></i></span></a>
    <a href="/path/charts"><span><i class="far fa-chart-bar" id="locospan1"></i></span></a>
    <a href="/path/wins/windirection"><span><i class="fa fa-trophy" id="locospan3"></i></span></a>
    <a href="/path/users/show"><span><i class="fa fa-user" id="locospan4"></i></span></a>
    <a href="/flats"><span><i class="fa fa-map-marked-alt" id="locospan5"></i></span></a>
    <a href="/path/questions"><span><i class="fa fa-question" id="locospan6"></i></span></a>

    
    </span></h1>
    </div>
    <div data-page="1" class="nav-el nav-el-1"></div>
    <div data-page="2" class="nav-el nav-el-2"></div>
    <div data-page="3" class="nav-el nav-el-3"></div>
    <div data-page="4" class="nav-el nav-el-4"></div>
    <div data-page="5" class="nav-el nav-el-5"></div>
    <div data-page="6" class="nav-el nav-el-6"></div>
  </div>
  <div class="pages removed">
    <div class="page page-1">
    </div>
    <div class="page page-2"></div>
    <div class="page page-3"></div>
    <div class="page page-4"></div>
    <div class="page page-5"></div>
    <div class="page page-6"></div>
  
    </div>
  </div>




