<div class="scanexcbg">

<nav class="menu">
   <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
   <label class="menu-open-button" for="menu-open", remote: true>
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

   <a href="/flats" class="menu-item blue", remote: true> <i class="fa fa-map-marked-alt"></i> </a>
   <a href="/businesses" class="menu-item green", remote: true> <i class="fas fa-laptop-house"></i> </a>
   <a href="/technologies" class="menu-item red", remote: true> <i class="fa fa-trophy"></i> </a>
   <a href="/path/users/show" class="menu-item purple", remote: true> <i class="fa fa-user"></i> </a>
   <a href="/path/questions" class="menu-item orange", remote: true> <i class="fa fa-question"></i> </a>
   <a href="/path/share" class="menu-item lightblue", remote: true> <i class="fa fa-share"></i> </a>

</nav>

</div>