<div class="navbody">
<div class="main">
  <div class="bar"> 
  
  <h2 class="bar__icon2" id="signoutid"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></h2>
  <img class="bar__icon1" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1618156032/sssss_wyswmm.png"/>
  
  </div>
  <div class="menu">
    <a href="/path/businesses/business">
    <div class="menu__item" id="0-0"> <img class="menu__icon" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAw%0D%0AL3N2ZyI+CgogPGc+CiAgPHRpdGxlPmJhY2tncm91bmQ8L3RpdGxlPgogIDxyZWN0IGZpbGw9Im5v%0D%0AbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSI0MDIiIHdpZHRoPSI1ODIiIHk9Ii0x%0D%0AIiB4PSItMSIvPgogPC9nPgogPGc+CiAgPHRpdGxlPkxheWVyIDE8L3RpdGxlPgogIDxwYXRoIGZp%0D%0AbGw9IiNmZmZmZmYiIGlkPSJzdmdfMSIgZD0ibTIwLDQwbDAsLTEybDgsMGwwLDEybDEwLDBsMCwt%0D%0AMTZsNiwwbC0yMCwtMThsLTIwLDE4bDYsMGwwLDE2bDEwLDB6Ii8+CiA8L2c+Cjwvc3ZnPg=="/>
      <div class="menu__content"><span class="menu__span">BUSINESS</span><span class="menu__span">BUSINESS</span></div>
    </div>
    </a>
    <a href="/path/charts">
    <div class="menu__item" id="1-0"><img class="menu__icon" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAw%0D%0AL3N2ZyI+CgogPGc+CiAgPHRpdGxlPmJhY2tncm91bmQ8L3RpdGxlPgogIDxyZWN0IGZpbGw9Im5v%0D%0AbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSI0MDIiIHdpZHRoPSI1ODIiIHk9Ii0x%0D%0AIiB4PSItMSIvPgogPC9nPgogPGc+CiAgPHRpdGxlPkxheWVyIDE8L3RpdGxlPgogIDxwYXRoIGlk%0D%0APSJzdmdfMSIgZmlsbD0ibm9uZSIgZD0ibTAsMGw0OCwwbDAsNDhsLTQ4LDBsMCwtNDh6Ii8+CiAg%0D%0APHBhdGggZmlsbD0iI2ZmZmZmZiIgaWQ9InN2Z18yIiBkPSJtMjAsNDBsOCwwbDAsLTMybC04LDBs%0D%0AMCwzMnptLTEyLDBsOCwwbDAsLTE2bC04LDBsMCwxNnptMjQsLTIybDAsMjJsOCwwbDAsLTIybC04%0D%0ALDB6Ii8+CiA8L2c+Cjwvc3ZnPg=="/>
      <div class="menu__content"><span class="menu__span">RANKING</span><span class="menu__span">RANKING</span></div>
    </div>
    </a>
    <a href="/path/wins/windirection">
    <div class="menu__item" id="0-1"><img class="menu__icon" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1618171266/baseline_shopping_bag_white_48dp_sskdwj.png"/>
      <div class="menu__content"><span class="menu__span">DROP SHOP</span><span class="menu__span">DROP SHOP</span></div>
    </div>
    </a>
    <a href="/path/users/show">
    <div class="menu__item" id="1-1"><img class="menu__icon" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1618171266/baseline_person_white_48dp_xlafr2.png"/>
      <div class="menu__content"><span class="menu__span">PROFILE</span><span class="menu__span">PROFILE</span></div>
    </div>
    </a>
    <a href="">
    <div class="menu__item" id="0-2"><img class="menu__icon" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAw%0D%0AL3N2ZyI+CgogPGc+CiAgPHRpdGxlPmJhY2tncm91bmQ8L3RpdGxlPgogIDxyZWN0IGZpbGw9Im5v%0D%0AbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSI0MDIiIHdpZHRoPSI1ODIiIHk9Ii0x%0D%0AIiB4PSItMSIvPgogPC9nPgogPGc+CiAgPHRpdGxlPkxheWVyIDE8L3RpdGxlPgogIDxwYXRoIGZp%0D%0AbGw9IiNmZmZmZmYiIGlkPSJzdmdfMSIgZD0ibTQuMDIsNDJsNDEuOTgsLTE4bC00MS45OCwtMThs%0D%0ALTAuMDIsMTRsMzAsNGwtMzAsNGwwLjAyLDE0eiIvPgogPC9nPgo8L3N2Zz4="/>
      <div class="menu__content"><span class="menu__span">SHARE</span><span class="menu__span">SHARE</span></div>
    </div>
    </a>
    <a href="/path/questions">
    <div class="menu__item" id="1-2"><img class="menu__icon" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1618171266/baseline_live_help_white_48dp_khdkae.png"/>
      <div class="menu__content"><span class="menu__span">Q & A</span><span class="menu__span">Q & A</span></div>
    </div>
    </a>
    <div class="is-active" id="current"></div>
  </div>
</div>
</div>
<script>
/* Const */
const menuItem = document.querySelectorAll(".menu__item");
const currentItem = document.querySelector("#current");
const mov = 188;
/* Func */
let getItem = (event) => {
    let x = event.currentTarget.id.slice("-")[0];
    let y = event.currentTarget.id.slice("-")[2];

    currentItem.style.left = `${ x * mov }px`;
    setTimeout( () =>  currentItem.style.top = `${ y * mov }px`, 200 ) ;

}
/* Main */
let mainFunction = (event) => {
    for (var i = 0; i < menuItem.length; i++) {
        menuItem[i].addEventListener("click", getItem);
    }
}

window.addEventListener("load", mainFunction);

</script>