<html style='background-color: #20E0B2 !important; overflow: auto !important;'>
<body style='background-color: #20E0B2 !important; overflow: auto !important;'>
<div class="slidermiddle5">
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>
</div>

<div class="clearbtndrop">
 <a href="/"><div class="bk-btn"><div class="bk-btn-triangle"></div><div class="bk-btn-bar"></div></div></a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="counter89">
                <div class="counter-icon">
                    <i class="fa fa-globe"></i>
                </div>
                <a href="/technologies" class="newtech"><h3>Technologie</h3></a>
                <a href="/technologies" class="newtech"><span class="counter-value">NEW</span></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter89 orange">
                <div class="counter-icon">
                    <i class="fa fa-rocket"></i>
                </div>
                <a href="/sneakers" class="newtech"><h3>Clothes</h3></a>
                <a href="/sneakers" class="newtech"><span class="counter-value">NEW</span></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter89">
                <div class="counter-icon">
                    <i class="fa fa-globe"></i>
                </div>
                <a href="/sports" class="newtech"><h3>Sports</h3></a>
                <a href="/sports" class="newtech"><span class="counter-value">NEW</span></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter89 orange">
                <div class="counter-icon">
                    <i class="fa fa-rocket"></i>
                </div>
                <a href="/gadgets" class="newtech"><h3>Gadgets</h3></a>
                <a href="/gadgets" class="newtech"><span class="counter-value">NEW</span></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<div  class="se-pre-con">
	<div class="loadimg">
		<img  class="imgloadborder" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615987378/Dual_Ball-1s-200px_fsqs5d.gif" />
	</div>
</div>